.container-fluid {
    margin-top: 80px;
}

.details h5 {
    font-size: 24px;
}
.details h6 {
    color: grey;
    font-size: 18px;
}
.details p {
    color: grey;
    font-size: 14px;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
  body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .grid {
    width: 25rem;
  }
  
  .grid-item {
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-header  {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #04f5ff !important; 
    color: #e90052;
    margin-bottom: 1rem;
    border-bottom: none !important;
  }
 
  .card-content{
    background-color: #04f5ff;
  }